# ---------- CONFIGURACIÓN ----------
TOKEN= MY_TOKEN_HERE # Token Bot de Telegram
ENFORCE_TOKEN=false                # true / false (si true y TOKEN ausente -> error)
ENABLE_WHITELIST=false             # true / false (activar filtro de usuarios)
WHITELIST=6279975935,5575083393    # IDs permitidos (si ENABLE_WHITELIST=true)
# -----------------------------------